.about-cards {
    max-width: 1024px;
    grid-template-areas:
        "intro intro intro skills"
        "intro intro intro skills"
        "clock projects now skills"
        "clock writings now skills"
        "clock theme credits skills"
    ;
}

.about-cards>div,
.about-cards>a {
    background-color: var(--card-bg-col);
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-cards>a {
    flex-direction: row;
}

.intro-card {
    grid-area: intro;
}

.skills-card {
    grid-area: skills;
}

.contact-card {
    grid-area: contact;
}

.clock-card {
    grid-area: clock;
}

.projects-card {
    grid-area: projects;
}

.writings-card {
    grid-area: writings;
}

.theme-card {
    grid-area: theme;
}

.credits-card {
    grid-area: credits;
}

.now-card {
    grid-area: now;
}