.about-cards {
    max-width: 1024px;
    grid-template-areas:
        "intro intro intro skills"
        "intro intro intro skills"
        "clock projects now skills"
        "clock writings now skills"
        "clock contact theme credits"
    ;
}

.about-cards>div,
.about-cards>a {
    background-color: var(--card-bg-col);
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.5s;
}

.about-cards>a {
    flex-direction: row;
}

.about-cards>div:hover,
.about-cards>a:hover {
    border-color: var(--text-col);
}

.about-cards>a>img {
    transition: transform 0.5s;
}

.about-cards>a:hover>img {
    transform: rotate(-7deg) translateY(-5px);
}

.intro-card {
    grid-area: intro;
}

.skills-card {
    grid-area: skills;
}

.contact-card {
    grid-area: contact;
}

.clock-card {
    grid-area: clock;
}

.projects-card {
    grid-area: projects;
}

.writings-card {
    grid-area: writings;
}

.theme-card {
    grid-area: theme;
}

.credits-card {
    grid-area: credits;
}

.now-card {
    grid-area: now;
}