* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    animation: fade-in 0.5s ease-in-out;
}

.flex-gap-5 {
    gap: 5px;
}

.flex-gap-20 {
    gap: 20px;
}

.flex-gap-30 {
    gap: 30px;
}

.flex-gap-50 {
    gap: 50px;
}

.flex-column {
    flex-direction: column;
}

.flex-items-center {
    align-items: center;
}

.flex-sp-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.grid-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2fr-1fr {
    grid-template-columns: 2fr 1fr;
}

.grid-center {
    align-items: center;
    justify-items: center;
}

.grid-gap-20 {
    gap: 20px;
}

.padd-1 {
    padding: 1rem;
}

body {
    color: whitesmoke;
    background-color: #1e1e1e;
}