@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
    --txt-col: #000000;
    --txt-light-col: #0000008a;
    --bg-col: #DFDFDF;

    --card-bg-col: rgba(0, 0, 0, 10%);
    --card-border-col: #6f6f6f;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

::selection {
    color: var(--bg-col);
    background-color: var(--txt-col);
}

.flex {
    display: flex;
    animation: fade-in 0.5s ease-in-out;
}

.flex-gap-5 {
    gap: 5px;
}

.flex-gap-20 {
    gap: 20px;
}

.flex-gap-30 {
    gap: 30px;
}

.flex-gap-50 {
    gap: 50px;
}

.flex-column {
    flex-direction: column;
}

.flex-items-center {
    align-items: center;
}

.flex-sp-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.grid-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2fr-1fr {
    grid-template-columns: 2fr 1fr;
}

.grid-center {
    align-items: center;
    justify-items: center;
}

.grid-gap-5 {
    gap: 5px;
}

.grid-gap-10 {
    gap: 10px;
}

.grid-gap-20 {
    gap: 20px;
}

.grid-gap-30 {
    gap: 30px;
}

.mheight-80 {
    min-height: 90vh;
}

.padd-1 {
    padding: 1rem;
}

.text-time {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.text-light {
    font-size: 1.10rem;
    font-weight: 400;
    color: var(--txt-light-col);
}

.text-small {
    font-size: 1rem;
}

.text-italic {
    font-style: italic;
}

.text-gradient {
    max-width: max-content;
    background-image: linear-gradient(60deg, #000000 10%, #939393);
    background-clip: text;
    color: transparent;

}

.social-icon {
    display: flex;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    box-shadow: 3px 3px 0 4px var(--txt-col);
}

.social-icon img {
    height: 32px;
    width: 32px;
}

.social-icon:hover,
.social-icon img:hover {
    cursor: pointer;
}

body {
    color: var(--txt-col);
    background-color: var(--bg-col);
    font-size: 1.20rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--txt-col);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        @apply bg-background text-foreground;
    }
}