:root {
    --txt-col: #000000;
    --txt-light-col: #0000008a;
    --bg-col: #DFDFDF;

    --card-bg-col: rgba(0, 0, 0, 10%);
    --card-border-col: #6f6f6f;
}

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    animation: fade-in 0.5s ease-in-out;
}

.flex-gap-5 {
    gap: 5px;
}

.flex-gap-20 {
    gap: 20px;
}

.flex-gap-30 {
    gap: 30px;
}

.flex-gap-50 {
    gap: 50px;
}

.flex-column {
    flex-direction: column;
}

.flex-items-center {
    align-items: center;
}

.flex-sp-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.grid-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2fr-1fr {
    grid-template-columns: 2fr 1fr;
}

.grid-center {
    align-items: center;
    justify-items: center;
}

.grid-gap-5 {
    gap: 5px;
}

.grid-gap-10 {
    gap: 10px;
}

.grid-gap-20 {
    gap: 20px;
}

.mheight-70 {
    min-height: 70vh;
}

.padd-1 {
    padding: 1rem;
}

.text-light {
    color: var(--txt-light-col);
}

.text-gradient {
    max-width: max-content;
    background-image: linear-gradient(60deg, #000000 10%, #939393);
    background-clip: text;
    color: transparent;

}

body {
    color: var(--txt-col);
    background-color: var(--bg-col);
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3rem;
}